<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.dao.StoreMapper">
  <resultMap id="BaseResultMap" type="com.mt.entity.Store">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="avg_score" jdbcType="DOUBLE" property="avgScore" />
    <result column="comments" jdbcType="INTEGER" property="comments" />
    <result column="backCateName" jdbcType="VARCHAR" property="backcatename" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="avg_price" jdbcType="DOUBLE" property="avgPrice" />
    <result column="source_key" jdbcType="VARCHAR" property="sourceKey" />
    <result column="source_data" jdbcType="VARCHAR" property="sourceData" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from store
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mt.entity.Store">
    insert into store (id,title, phone, city,
      address, areaname, latitude, 
      longitude, avg_score, comments, 
      backCateName, store_id, avg_price, 
      source_key, source_data, creat_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{areaname,jdbcType=VARCHAR}, #{latitude,jdbcType=DOUBLE}, 
      #{longitude,jdbcType=DOUBLE}, #{avgScore,jdbcType=DOUBLE}, #{comments,jdbcType=INTEGER}, 
      #{backcatename,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, #{avgPrice,jdbcType=DOUBLE}, 
      #{sourceKey,jdbcType=VARCHAR}, #{sourceData,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mt.entity.Store">
    update store
    set title = #{title,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      areaname = #{areaname,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DOUBLE},
      longitude = #{longitude,jdbcType=DOUBLE},
      avg_score = #{avgScore,jdbcType=DOUBLE},
      comments = #{comments,jdbcType=INTEGER},
      backCateName = #{backcatename,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      avg_price = #{avgPrice,jdbcType=DOUBLE},
      source_key = #{sourceKey,jdbcType=VARCHAR},
      source_data = #{sourceData,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, title, phone, city, address, areaname, latitude, longitude, avg_score, 
    comments, backCateName, store_id, avg_price, source_key, source_data, creat_time, 
    update_time
    from store
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, phone, city, address, areaname, latitude, longitude, avg_score, 
    comments, backCateName, store_id, avg_price, source_key, source_data, creat_time, 
    update_time
    from store
  </select>
</mapper>